packages:
  yum:
    git: []
    libffi-devel: []
    libcurl-devel: []
    openssl-devel: []

commands:
  00_create_dir:
    command: mkdir -p /var/log/app-logs
  01_change_permissions:
    command: chmod g+s /var/log/app-logs
  02_change_owner:
    command: chown webapp:webapp /var/log/app-logs
  04_upgrade_pip:
    command: /var/app/venv/*/bin/python -m pip install --upgrade pip
    ignoreErrors: false

files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/celery.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/app-logs/celery.log